<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>ngTagsInput Test Page</title>
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="../build/ng-tags-input.js"></script>
  <link rel="stylesheet" href="../build/ng-tags-input.css"/>
  <style>
    .foo .tags .tag-input {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 4px;
      border-left: 3px solid;
      padding-left: 3px;
    }
  </style>
</head>
<body ng-controller="Ctrl">

    <span data-tags-input 
        id="test"
        ng-model="tags"
        custom-class="foo"
        replace-spaces-with-dashes="false"
        add-on-blur="true"
        min-tags="5">

        <span data-auto-complete source="loadItems($query)"
            debounce-delay="0"
            min-length="1"
            max-results-to-show="10">
        </span>

  </span>

  <span data-tags-input ng-model="tags" id="repeatTest"></span>

  <input type="text"/>

  <script type="text/javascript">
    angular.module('app', ['ngTagsInput'])
        .controller('Ctrl', function($scope, $q, $timeout) {
            var ctxTags = 
                [{
                    "id": "1",
                    "label": "movie scene",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "tt01",
                    "categories": ["text type"] 
                },
                {
                    "id": "2",
                    "label": "documentary",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "tt02",
                    "categories": ["text type" ]  
                },
                {
                    "id": "3",
                    "label": "broadcast",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "tt03",
                    "categories": ["text type" ] 
                },
                {
                    "id": "4",
                    "label": "speech",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "tt04" ,
                    "categories": ["text type"] 
                },
                {
                    "id": "7",
                    "label": "british",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "td07",
                    "categories": ["text dialect"]  
                }];

            $scope.tags = [{
                    "id": "1",
                    "label": "movie scene",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "tt01",
                    "categories": ["text type"] 
                },
                {
                    "id": "2",
                    "label": "documentary",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum.",
                    "compassId": "tt02",
                    "categories": ["text type" ]  
                }];


            $scope.placeholder = { value: "New tag" };

            $scope.loadItems = function(data) {
                
                var deferred = $q.defer(),
                    items = [],
                    query = data.keywords;

                console.log(data);

                for (var i = 0; i < ctxTags.length; i++) {
                    if (ctxTags[i].label.indexOf(query) > -1) {
                        items.push(ctxTags[i]);
                    }
                };

                $timeout(function() {
                        deferred.resolve(items);
                    }, 1000);

                return deferred.promise;

            };
        })

        .config(function(tagsInputConfigProvider) {
            tagsInputConfigProvider
              .setDefaults('tagsInput', {
                placeholder: 'new tag',
                removeTagSymbol: 'x'
              })
              .setDefaults('autoComplete', {
                highlightMatchedText: true
              });
        });
  </script>
</body>
</html>
